---
layout: page
permalink: /tags/
title: Blog Posts Sorted by Tag
---


<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>
    
    <h3 class="tag-head">[ {{ tag_name }} ]</h3>
    <a name="{{ tag_name | slugize }}"></a>
    <ul>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <li><h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a> ({{ post.date | date_to_string }})</h4>
      </li>    
    </article>
    {% endfor %}
    </ul>  
  </div>
{% endfor %}
</div>
